In [ ]:
# A dictionary of high schools and the type of school.
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

print('')

high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for i in range(len(high_school_types)):
    for school in high_school_types:
        print(school)

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# Add the Pandas dependency.
import pandas as pd

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["type"]= type_of_school

schools_df

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
school_id=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name=['Huang High School','Figueroa High School','Shelton High School','Hernandez High School','Griffin High School',
             'Wilson High School','Cabrera High School','Bailey High School','Holden High School',
             'Pena High School','Wright High School','Rodriguez High School','Johnson High School',
             'Ford High School','Thomas High School']
school_type=['District','District','Charter','District','Charter','Charter','Charter',
            'District','Charter','Charter','Charter','District','District','District','Charter']

schools_df=pd.DataFrame()

schools_df["School ID"]=school_id
schools_df["School Name"]=school_name
schools_df["Type"]=school_type

schools_df