In [14]:
# Add the Pandas dependency.
import pandas as pd

In [15]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"

In [16]:
school_data_df=pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [17]:
student_data_df=pd.read_csv(student_data_to_load)
student_data_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [18]:
school_data_complete_df=pd.merge(student_data_df,school_data_df,on=['school_name','school_name'])

school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
student_count=school_data_complete_df['Student ID'].count()

student_count

39170

In [20]:
school_list = school_data_complete_df['school_name'].unique()

school_count=len(school_list)
print(school_list)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [21]:
for school in school_list:
    school_budgets=school_data_complete_df['budget']
    
print(school_budgets.unique())

district_budget=sum(school_budgets.unique())

[1910635 1884411 1056600 3022020  917500 1319574 1081356 3124928  248087
  585858 1049400 2547363 3094650 1763916 1043130]

In [22]:
average_math_score=school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [23]:
average_reading_score=school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [24]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [25]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading_count=passing_math_reading['student_name'].count()

overall_passing_percentage=passing_math_reading_count/student_count*100

overall_passing_percentage

65.17232575950983

In [26]:
# Info to identify
    # Total number of students
print(f'There are {student_count} students in the district.')
    # Total number of schools
print(f'There are {school_count} schools in the district.')
    # Total budget
print(f'The total budget for the district is ${district_budget:,.2f}.')
    # Average math score
print(f'The average math score is {average_math_score:.1f}.')
    # Average reading score
print(f'The average reading score is {average_reading_score:.1f}.')
    # Percentage of students who passed math (70 or higher)
print(f'Districtwide there were {passing_math_percentage:.1f}% of students who passed the math test with a score of 70 or higher.')
    # Percentage of students who passed reading (70 or higher)
print(f'Districtwide there were {passing_reading_percentage:.1f}% of students who passed the reading test with a score of 70 or higher.')
    # Overall passing percentage
print(f'Districtwide there were {overall_passing_percentage:.1f}% of students who passed both the math and the reading tests with score of 70 or higher.')

There are 39170 students in the district.
There are 15 schools in the district.
The total budget for the district is $24,649,428.00.
The average math score is 79.0.
The average reading score is 81.9.
Districtwide there were 75.0% of students who passed the math test with a score of 70 or higher.
Districtwide there were 85.8% of students who passed the reading test with a score of 70 or higher.
Districtwide there were 65.2% of students who passed both the math and the reading tests with score of 70 or higher.

In [29]:
#Adding a list of values to create a summative table of previous results
district_summary_df=pd.DataFrame(
    [{"Total Schools":school_count
     ,"Total Students":student_count
     ,"Total Budget":district_budget
     ,"Average Math Score":average_math_score
     ,"Average Reading Score":average_reading_score
     ,"% Passing Math":passing_math_percentage
     ,"% Passing Reading":passing_reading_percentage
     ,"% Overall Passing":overall_passing_percentage}
    ])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("{:,.2f}".format)

district_summary_df["Average Math Score"]=district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"]=district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.0f}%".format)

district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.0f}%".format)

district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{:.0f}%".format)


new_column_order=["School Type","Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

district_summary_df=district_summary_df[new_column_order]

district_summary_df

KeyError: "['School Type'] not in index"

In [ ]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

# Call the function.
passing_math_percent(passing_math_count, student_count)